:root {
  --main-black-color: #3a3633;
  --nav-bar-height: 70px;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Poppins, sans-serif;
  font-size: 24px;
  font-weight: bold;
  overflow-x: hidden;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 3.5rem;
}

.page-logo {
  display: flex;
  align-items: center;
  outline: none;
}

.logo {
  width: 60px;
}

nav {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--main-black-color);
  color: white;
  height: var(--nav-bar-height);
  width: 100%;
  z-index: 100;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40vw;
  height: var(--nav-bar-height);
  padding-left: 50%;
}

.underline-content {
  position: relative;
}

.underline-content .nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--nav-bar-height);
}

.underline {
  position: absolute;
  width: 0%;
  height: 8px;
  bottom: 0;
  background-color: white;
  transition: width 0.3s;
}

.nav-link {
  position: relative;
  display: inline-block;
  color: white;
  text-decoration: none;
}

.underline-content:hover .underline {
    width: 100%;
}

.dropdown {
  position: relative;
  display: inline-block;
  height: var(--header-height);
}

.dropdown-button {
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  color: white;
  background-color: transparent;
  border: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  text-align: right;
  width: 100%;
  top: var(--nav-bar-height);
  right: 0;
}

.dropdown-content a {
  display: block;
  text-decoration: none;
  color: inherit;
  background-color: var(--main-black-color);
  padding: 30px 10px;
}

.dropdown-content a:hover {background-color: darkgray;}
.dropdown:hover .dropdown-content {display: block;}

.rocket-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: calc(100vh - var(--nav-bar-height));
  padding-top: var(--nav-bar-height);
}

.main-text-container {
  display: flex;
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  border: 6px solid white;
  width: 80vw;
  height: 40vh;
  margin: auto auto;
  transform: translate(-50%, -50%);
}

.main-text-left {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.main-text-right {
  background-color: rgba(107, 107, 98, 0.6);
}

.main-text-right h2, .text-grid {
  margin: 0 auto;
  width: 92%;
}
.main-text-right h2 {
  border-bottom: 2px dotted white;
  margin-top: 20px;
  padding-bottom: 10px;
}

.text-grid {
  display: flex;
  font-size: 1rem;
}

.text-grid p:not(:last-child) {
  margin-right: 40px;
}

.features {
  display: flex;
  justify-content: space-around;
  background: white;
  margin: 50px 0;
}

.feature {
  display: grid;
  grid-template-rows: 0.1fr 0.1fr 1fr 0.2fr;
  text-align: center;
  width: 20%;
  box-shadow: 0 0 10px 1px gray;
  margin: 20px 0;
  padding: 20px 15px;
  border-radius: 7px;
}

.feature .logo {
  margin: 0 auto;
}

.feature-text {
  color: gray;
}

.feature-button {
  font-size: inherit;
  background-color: var(--main-black-color);
  color: white;
  height: 50px;
  border-radius: 5px;
  width: 100%;
}

.text-container {
  color: white;
  height: 40vh;
  padding: 40px 30px;
}

.sub-text {
  background-color: var(--main-black-color);
}

.gradient {
  text-align: right;
  background-image: linear-gradient(90deg, white 8%, #039be5);
}

.animated-box {
  line-height: 0.8;
  position: absolute;
  background-color: var(--main-black-color);
  border: 10px solid white;
  color: white;
  width: 15vw;
  text-align: center;
  padding: 0 20px;
  margin: -10vh 3vw;
}

.animated-box h4 {
  color: red;
}

.animated-box p {
  font-size: 1rem;
  padding-bottom: 30px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.gallery .image-zoom {
  width: calc(100% / 3);
  height: 30vh;
}

.tile, .hover-text, .overlay {
  transition: .5s ease;
}

.image-zoom {
  overflow: hidden;
  position: relative;
}

.tile {
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: none;
}

.hover-text {
  color: white;
  font-size: 2.2rem;
  opacity: 0;
}

.image-zoom:hover .tile {
  transform: scale(1.2);
}

.image-zoom .tile ~ .overlay:hover {
  background: rgba(0, 0, 0, 0.2);
}

.image-zoom .tile ~ .overlay:hover > .hover-text {
  opacity: 0.8;
}

.register, footer {
  display: flex;
  height: 30vh;
  line-height: 2.5;
}

.register {
  font-weight: lighter;
  color: gray;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  border-bottom: 2px solid #E0E0E0;
}

.email-area {
  display: flex;
}

.mail, .register-button {
  display: inline-block;
  border-radius: 3px;
}

.mail {
  font-size: inherit;
  border: 2px solid darkgray;
  padding-right: 45px;
  height: 35px;
  width: 85%;
}

.register-button {
  background-color: darkgray;
  border: none;
  width: 50px;
  height: 40px;
  margin-left: -50px;
  margin-right: 0;
}

footer {
  justify-content: space-around;
}

footer div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer a {
  font-size: 0.8em;
  text-decoration: none;
  color: gray;
}

@media screen and (max-width: 800px) {
  .tiles tr {
    flex: calc(2 / 3)%;
    max-width: calc(2 / 3)%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
